.counter {
    width: 300px;
    margin: auto;
    margin-top: 15px;
}

.counter div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter div span {
    font-size: 28px;
    color: black;
    font-weight: 500;
}

.counter div button {
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    border: 1px solid black;
    background-color: pink;
    border-radius: .25rem;
    outline: none;
    cursor: pointer;
}
.Todo{
    margin-top: 2rem;
}